<div class="posts-container" posts-directive>
	
	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>Username</th>
				<th>Description</th>
				<th>Likes</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="list in posts_arr">
				<td>
					<img ng-src="{{list.image}}">
				</td>
				<td ng-bind="list.username">jmrplbrs</td>
				<td ng-bind="list.caption">Lorem Ipsum dolo sit amet. Lorem Ipsum dolo sit amet.</td>
				<td ng-bind="list.likes">678</td>
				<td>
					<button class="btn btn-primary btn-view">
						View
					</button>
					<button class="btn btn-danger btn-delete">
						Delete
					</button>
				</td>
			</tr>
		</tbody>
	</table>

</div>