<div class="users-container" users-directive>
	
	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>Posts</th>
				<th>Points</th>
				<th>Followers</th>
				<th>Following</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="list in users_arr">
				<td>
					<img ng-src="{{list.image}}">
				</td>
				<td ng-bind="list.name">Jeamar Libres</td>
				<td ng-bind="list.username">jmrplbrs</td>
				<td ng-bind="list.email">jeamar1234@gmail.com</td>
				<td ng-bind="list.posts">99</td>
				<td ng-bind="list.points">99</td>
				<td ng-bind="list.followers">99</td>
				<td ng-bind="list.following">99</td>
				<td>
					<button class="btn btn-danger btn-delete">
						Delete
					</button>
				</td>
			</tr>
		</tbody>
	</table>

</div>