<div class="users-container">
	
	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>Posts</th>
				<th>Points</th>
				<th>Followers</th>
				<th>Following</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="list in [1,2,3,4,5,6,7,8,9,10]">
				<td>
					<img src="../img/gallery.png">
				</td>
				<td>Jeamar Libres</td>
				<td>jmrplbrs</td>
				<td>jeamar1234@gmail.com</td>
				<td>99</td>
				<td>99</td>
				<td>99</td>
				<td>99</td>
				<td>
					<button class="btn btn-danger btn-delete">
						Delete
					</button>
				</td>
			</tr>
		</tbody>
	</table>

</div>