@media only screen and (min-height : 750px) {
   
}





/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
   
}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 2000px) {
    
}




/*==========  Non-Mobile First Method  ==========*/

@media only screen and (max-width : 1280px) {
    
}

@media only screen and (max-width : 1230px) {
    
}

@media only screen and (max-width : 1200px) {
    .upload-content {
        width: 80%;
    }

    #informationModal .modal-dialog{
      width: 70%;
    }
}

@media only screen and (max-width : 1110px) {
    
}

@media only screen and (max-width : 1050px) {
    
}

@media only screen and (max-width : 992px) {
    .upload-content {
        padding: 20px;
    }
}

@media only screen and (max-width : 950px) {
    .header-nav {
        width: 90%;
    }

    .loader-container .loader img{
        width: 16% !important;
    }
}

@media only screen and (max-width : 880px) {
    .upload-content {
        width: 95%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .header-nav {
        width: 100%;
    }

    .header-nav ul.main-top-nav{
        float: none;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 45px !important;
        background: #14adc5;
        z-index: 999;
    }

    .header-nav ul.main-top-nav li {
        display: inline-block;
        height: 100%;
        padding: 10px 0;
        flex: 1;
        text-align: center;
    }

    .header-nav ul.main-top-nav li a, 
    .header-nav ul.main-top-nav li a:focus {
        width: 100%;
    }

    .header-nav ul li.brand-name a, 
    .header-nav ul li.brand-name a:focus {
        padding: 10px 15px;
    }

    .header-nav ul li.brand-name a img {
        width: 30px;
    }

    .header-search-container .user-search-container {
        left: auto;
        right: 0;
    }

    .step-two .info-box .img-wrapper {
        height: 200px;
    }

    .step-two textarea, 
    .step-two textarea:focus {
        height: 170px;
    }

    #informationModal .modal-dialog {
        width: 90%;
    }
}

@media only screen and (max-width : 650px) {
    .upload-content {
        width: 95%;
        padding: 10px;
    }

    .step-one {
        padding-bottom: 100px; 
    }
}

@media only screen and (max-width : 610px) {
   .step-two .info-box {
        display: block;
        margin: 0 auto;
    }     

    .step-two .info-box .img-wrapper {
        width: 250px;
        height: 250px;
        margin: 0 auto 20px auto;
    }

    .step-two .info-box .selfie-desc {
        margin-left: 0px; 
    }

    .step-three .selfie-summary-container{
        margin: 0px auto 10px auto;
    }
}

@media only screen and (max-width : 575px) {
    #informationModal .modal-dialog {
        width: 97%;
    }
}

@media only screen and (max-width : 560px) {
    .signup-container, 
    .login-container {
        width: 90%;
        margin: 20px auto;
        padding: 20px 30px;
    }

    .home-content {
        width: 98%;
        margin: 5px auto;
        padding: 0;
    }

    .home-content .post-container .img-wrapper {
        width: 100%;
        height: auto;
    }

    .home-content .post-container .img-wrapper .post-image img {
        height: auto;
        margin: 0 -50%;
        width: 100%;
    }
}

@media only screen and (max-width : 520px) {
    .upload-content {
        padding: 0;
    }
}

@media only screen and (max-width : 480px) {
    .header-logo{
        float: none;
    }

    .header-search-container {
        padding: 5px;
        width: 100%;
        background: #15bdd8;
        height: 40px;
    }

    .header-search-container input, .header-search-container input:focus {
        width: 100%;
    }

    .header-container {
        height: 40px;
    }

    .header-nav ul li.brand-name a, 
    .header-nav ul li.brand-name a:focus {
        padding: 5px 15px;
    }

    .header-search-container .user-search-container {
        width: 100%;
    }

    .loader-container .loader img{
        width: 100px !important;
    }

    .home-content .post-container .post-bottom {
        padding: 5px;
    }

    .home-content .post-container .post-bottom .post-info{
        padding-bottom: 5px;
    }

    .home-content .post-container .post-bottom .post-info .user-img {
        width: 40px;
        height: 40px;
    }

    .step-one .photo-booth {
        width: 280px;
        height: 280px;
        min-width: unset;
    }

    .step-one .photo-booth img{
        width: 100%;
    }

    .upload-content {
        padding-bottom: 50px;
    }

    .step-three .selfie-summary-container {
        width: 280px;
    }

    .step-three .selfie-summary-container .img-wrapper {
        height: 280px;
        width: 280px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 360px) {
    .upload-content .step-back, 
    .upload-content .step-back.hover, 
    .upload-content .step-back.active, 
    .upload-content .step-back:active, 
    .upload-content .step-next, 
    .upload-content .step-next.hover, 
    .upload-content .step-next.active, 
    .upload-content .step-next:active {
        width: 120px;
    }

    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
















