<div class="auth-content" auth-directive>

  <div ng-if="!isSignupShow" class="login-container">
    <div class="img-wrapper">
      <img src="../img/logo/camera3.png">
    </div>
    <form ng-submit="login(login_data)">
      <!-- <p class="clr-333 fw-700 fs-16 text-center" style="margin-bottom: 30px;">Take a selfie, upload, and earn points!</p> -->
      <p class="clr-333 fw-700 fs-16 text-center" style="margin-bottom: 30px;">Take a selfie, upload, earn points and redeem prizes!</p>

      <div ng-if="!noUserLoggedIn" class="login-spinner text-center">
        <i class="fa fa-rotate-right fa-spin fa-3x fa-fw"></i>
      </div>

      <span ng-if="noUserLoggedIn">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" ng-model="login_data.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" ng-model="login_data.password">
        </div>

        <div class="form-group text-center">
          <div class="white-space-10"></div>
          <p ng-if="login_err" class="text-error fw-700" ng-bind="login_err_msg">User not found. Please check your credentials.</p>
          <button type="submit" class="btn btn-primary submit-btn">Sign in</button>
          <div class="white-space-10"></div>
          <!-- <p class="txt-center ">_______________  <span style="position: relative;top: 4px;margin: 0 15px;">or</span>  _______________</p>
          <div class="login-social-container">
            <img src="../img/facebook.png">
            <img ng-click="signInWithGoogle()" src="../img/google-plus.png">
          </div> -->
          <div class="white-space-20"></div>
          <a href="javascript:void(0)" ng-click="toggleSignup()" class="fh-underline clr-333"><p class="fs-11 fw-700">No Account yet? Sign up.</p></a>
        </div>
      </span>
      
    </form>
  </div>

  <div ng-if="isSignupShow" class="signup-container">
    <form ng-submit="signup(signup_data)">
      <div class="form-group">
        <label for="semail">Full Name</label>
        <input type="text" class="form-control" id="semail" ng-model="signup_data.name">
      </div>
      <div class="form-group">
        <label for="semail">Username</label>
        <input type="text" class="form-control" id="semail" ng-model="signup_data.username">
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" class="form-control" id="email" ng-model="signup_data.email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="signup_data.password">
      </div>
      <div class="form-group">
        <label for="re">Re-Type Password</label>
        <input type="password" class="form-control" id="re" ng-model="signup_data.re_password">
      </div>

      <div class="form-group text-center">
        <p ng-if="email_invalid_err" class="text-error fw-700">Email is invalid.</p>
        <p ng-if="password_err" class="text-error fw-700">Password did not match.</p>
        <p ng-if="some_err" class="text-error fw-700" ng-bind="err_message"></p>
        <p ng-if="some_succ" class="text-success fw-700">Successfully created account. <a href="javascript:void(0)" ng-click="toggleSignup()" class="fh-underline clr-333">Login now !</a></p>
        <div class="white-space-10"></div>
        <button ng-disabled="!signup_data.name || !signup_data.email || !signup_data.password || !signup_data.re_password" type="submit" class="btn btn-primary submit-btn">Sign up</button>
        <!-- <div class="white-space-10"></div>
        <p class="txt-center ">_______________  <span style="position: relative;top: 4px;margin: 0 15px;">or</span>  _______________</p>
        <div class="login-social-container">
          <img src="../img/facebook.png">
          <img src="../img/google-plus.png">
        </div> -->
        <div class="white-space-20"></div>
        <a href="javascript:void(0)" ng-click="toggleSignup()" class="fh-underline clr-333"><p class="fs-11 fw-700">Already have Account? Log in.</p></a>
      </div>

    </form>
  </div>

</div>

