<div class="search-container" search-directive>
	<div class="search-content">
    
    <form>
      <input type="text" class="form-control" ng-model="userSearchText" ng-change="searchChanged( userSearchText )" placeholder="Search">
      <i class="fa fa-search"></i>
    </form>

    <div ng-if="searchBoxShow" class="user-search-container">
        <div class="user-search-row" ng-if="search_no_user">
            <p class="fw-700" style="margin: 0;">No user found.</p>
        </div>
        <div class="user-search-row" ng-repeat="list in user_search_list" ng-click="selectUserSearched( list )">
            <div class="img-wrapper">
                <img ng-src="{{list.image}}">
            </div>
            <div class="user-info">
                <p class="fullname" ng-bind="list.name">Jeamar Libres</p>
                <p class="username">@<span ng-bind="list.username">jmrplbrs</span></p>
            </div>
        </div>
    </div>

	</div>
</div>
